<section class="nosotros" id="nosotros">


  <div class="nosotros-container">


    <div class="nosotros-image">


      <img
        src="https://images.unsplash.com/photo-1445116572660-236099ec97a0?auto=format&fit=crop&w=1000&q=80"
        alt="Interior de la cafetería"
      >


    </div>


    <div class="nosotros-content">


      <span>NUESTRA HISTORIA</span>


      <h2>
        Un buen café también es un buen momento.
      </h2>


      <p>
        En Aroma creamos un espacio donde el café,
        los buenos sabores y los momentos especiales
        se encuentran.
      </p>


      <p>
        Seleccionamos nuestros ingredientes con cuidado
        para ofrecer una experiencia diferente en cada visita.
      </p>


      <a href="#contacto">
        Visítanos
      </a>


    </div>


  </div>


</section>

