<section class="hero" id="inicio">


  <div class="hero-content">


    <div class="hero-text">


      <span class="eyebrow">
        CAFÉ ARTESANAL
      </span>


      <h1>
        El mejor café
        comienza aquí.
      </h1>


      <p>
        Café recién preparado, postres artesanales
        y un espacio pensado para disfrutar cada momento.
      </p>


      <div class="hero-buttons">
        <a href="#productos" class="btn-primary">
          Ver nuestros productos
        </a>


        <a href="#nosotros" class="btn-secondary">
          Conócenos
        </a>
      </div>


    </div>


    <div class="hero-image">


      <img
        src="https://hips.hearstapps.com/hmg-prod/images/cafe-1599479980.jpg"
        alt="Café artesanal"
      >


    </div>


  </div>


</section>

